{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle text-center">
      <div class="cell medium-12 title"><h1>Hello, apa kabar?</h1></div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y align-center-middle text-center">
      <form action="{% url 'landingpage:savestatus' %}" method="POST">
          {% csrf_token %}
          {{status_form}}
          <input id="submit" type="submit" class="button" value="Submit">
      </form>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y align-center-middle">
        {% for data in status %}
        <div class="cell medium-4 text-center mini-card">
            <h6>{{data.date.date}} | {{data.date.time}}</h6>
            <p>{{data.body}}</p>
        </div>
        {% endfor %}
    </div>


{% endblock %}
