{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 6</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium"  data-toggle="responsive-menu">
      <button class="menu-icon dark" type="button" data-toggle="responsive-menu"></button>
    </div>

    <div class="top-bar stacked-for-medium" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
          <li class="menu-text nama-brand" data-hide-for="small">JerDelviero</li>
        </ul>
      </div>
      <div class="top-bar-right medium-align-center">
        <ul class="dropdown menu vertical medium-horizontal tombol-menu align-middle" data-dropdown-menu>
          <li class="{{home}}"><a href="/profile/">Home</a></li>
          <li class="{{about}}"><a href="/about/">About</a></li>
          <li class="{{story6}}"><a href="/">Story 6</a></li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
