{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center-middle text-center">
        <div class="cell medium-12 title">Hello, my name is Jeremia Delviero!</div>
        <div class="cell medium-5"><img src="{% static 'assets/my-photo.png' %}"
          alt="My Photo" width="350"></div>
        <div class="cell medium-6 text-left caption">Currently majoring Computer Science in
          University of Indonesia.<br><br>
          I’m interested in Web Development and
          Software Engineering.</div>
      </div>
    </div>
{% endblock %}
